<template>
  <v-card class="overflow-hidden">
    <v-app-bar elevate-on-scroll class="teal" center height="100px">
      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon> -->
      <v-spacer></v-spacer>
      <NuxtLink to="/annuaire" class="mr-10">
        <v-avatar>
          <v-icon large color="white">mdi-magnify</v-icon>
        </v-avatar>
      </NuxtLink>
      <NuxtLink to="/" class="d-flex align-center flex-column">
        <v-img
          :src="require('@/assets/img/logo_avec_fond_sans_texte.svg')"
          alt=""
          max-width="50px"
        ></v-img>
        <v-app-bar-title>La Coordonnerie</v-app-bar-title>
      </NuxtLink>
      <NuxtLink to="/profil" class="ml-10">
        <v-avatar>
          <v-icon large color="white">mdi-account</v-icon>
        </v-avatar>
      </NuxtLink>
      <v-spacer></v-spacer>
      <!-- <NuxtLink to="/annuaire">Annuaire</NuxtLink>
      <SearchHeader></SearchHeader> -->
    </v-app-bar>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Header',
  data() {
    return {
      photo: '',
      logged: false,
    }
  },
  methods: {
    logControl() {
      if (localStorage.getItem('id') !== null) {
        axios
          .get(
            'http://127.0.0.1:8000/users/' + localStorage.getItem('id') + '/',
            {
              id: localStorage.getItem('user_id'),
            }
          )
          .then((response) => {
            // eslint-disable-next-line no-console
            console.log(response)
            this.logged = true
            this.photo = response.data.photo
          })
      } else {
        this.logged = false
        this.photo = '<v-icon>mdi-account</v-icon>'
      }
    },
  },
}
</script>

<style src="./Header.css"></style>
