<template>
  <div class="bloc-modale">
    <div class="overlay" @click="hideModal()"></div>
    <v-card class="modale" max-width="1000px" max-height="800">
      <v-btn class="btn-modale" @click="hideModal()">X</v-btn>
      <v-row>
        <v-col cols="3">
          <v-img
            :src="organization.photo"
            alt=""
            class="rounded-lg"
            max-width="200px"
          ></v-img>
          <!-- TODO Intégrer carte avec https://github.com/vue-leaflet/Vue2Leaflet et l'API gouv https://geo.api.gouv.fr/adresse -->
          <a
            :href="
              osmURL(
                organization.address_number,
                organization.address_street,
                organization.address_zip,
                organization.address_city
              )
            "
            target="_blank"
          >
            <v-img
              :src="require('@/assets/img/logo_OSM.svg')"
              alt=""
              class="rounded-lg mt-3"
              max-width="50px"
            ></v-img>
          </a>
          <p class="mt-3">
            {{ organization.address_number }}
            {{ organization.address_street }} <br />
            {{ organization.address_zip }}
            {{ organization.address_city }}
          </p>
          <!-- TODO Affichage du téléphone : Ne garantit pas la non lisibiité d'un robot
          Exclure le champ d'origine du JSON et faire la requête lors de l'appel
          à la fonction displayCellphone. Faire de même pour le téléphone fixe -->
          <p v-if="organization.cellphone === ''"></p>
          <p v-else>
            <v-btn
              v-if="displayCellphone === false"
              small
              color="teal white--text"
              @click="toggleCellphone()"
              >Téléphone portable
            </v-btn>
            <span v-else-if="displayCellphone === true">
              {{ organization.cellphone.substr(0, 2) }}
              {{ organization.cellphone.substr(2, 2) }}
              {{ organization.cellphone.substr(4, 2) }}
              {{ organization.cellphone.substr(6, 2) }}
              {{ organization.cellphone.substr(8, 2) }}</span
            >
          </p>
          <p v-if="organization.phone === ''"></p>
          <p v-else>
            <v-btn
              v-if="displayPhone === false"
              small
              color="teal white--text"
              @click="togglePhone()"
              >Téléphone fixe
            </v-btn>
            <span v-else-if="displayPhone === true">
              {{ organization.phone.substr(0, 2) }}
              {{ organization.phone.substr(2, 2) }}
              {{ organization.phone.substr(4, 2) }}
              {{ organization.phone.substr(6, 2) }}
              {{ organization.phone.substr(8, 2) }}
            </span>
          </p>
          <p>
            <a :href="organization.website"> {{ organization.website }}</a>
          </p>
          <v-chip-group column>
            <div v-for="(need, indexn) in organization.need" :key="indexn">
              <v-chip class="mr-2" label color="brown" outlined plain
                >{{ need.name }}
              </v-chip>
            </div>
          </v-chip-group>
          <v-chip-group column>
            <div
              v-for="(criterion, indexc) in organization.criterion"
              :key="indexc"
            >
              <v-chip class="mr-2" label color="teal" outlined>{{
                criterion.name
              }}</v-chip>
            </div>
          </v-chip-group>
        </v-col>
        <v-col cols="9">
          <div class="d-inline-flex">
            <v-icon v-if="$store.state.user !== ''" class="ml-3" color="yellow"
              >mdi-star-plus-outline</v-icon
            >
            <v-card-title>{{ organization.name }}</v-card-title>
          </div>
          <!-- TODO Ajouter la personne qui a créé la fiche ?
          Si oui, mettre en place une url pour fiche user -->
          <!-- <p v-if="organization.owner.username" class="mt-4">
            <a :href="organization.owner.url">{{
              organization.owner.username
            }}</a>
          </p> -->
          <v-card-text>{{ organization.description }}</v-card-text>
        </v-col>
      </v-row>
      <v-row>
        <!-- TODO Si l'utilisateur n'a pas de compte, proposer le composant de connexion, sinon, proposer le formulaire de contact -->
        <v-col cols="12">
          <h3 class="text-center">Contact</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <p>truc</p>
        </v-col>
        <v-col cols="6">
          <p>machin</p>
        </v-col>
        <v-btn @click="getcoord">testcoord</v-btn>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'ModaleAnnuaire',
  props: {
    organization: {
      default: () => {},
      type: Object,
    },
  },
  data() {
    return {
      displayCellphone: false,
      displayPhone: false,
    }
  },
  methods: {
    hideModal() {
      this.$emit('hideModal')
    },
    toggleCellphone() {
      this.displayCellphone = !this.displayCellphone
    },
    togglePhone() {
      this.displayPhone = !this.displayPhone
    },
    osmURL(n, s, z, c) {
      return (
        'https://www.openstreetmap.org/search?query=' +
        n +
        ' ' +
        s +
        ' ' +
        z +
        ' ' +
        c
      )
    },
    getcoord() {
      // TODO Récupérer l'autocomplétion pour l'adresse concernée. Souci de CORS
      axios
        .get(
          'https://api-adresse.data.gouv.fr/search/?q=' +
            // this.organization.address_number +
            // '+' +
            // this.organization.address_street +
            // '+' +
            // this.organization.zip +
            // '+' +
            this.organization.address_city
          // {
          //   withCredentials: true,
          //   headers: { 'Access-Control-Allow-Origin': '*' },
          // }
        )
        .then((response) => {
          // eslint-disable-next-line no-console
          console.log(response)
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
    },
  },
}
</script>

<style src="./ModaleAnnuaire.css"></style>
