<template>
  <div>
    <v-row>
      <v-col>
        <v-form>
          <v-img :src="user.photo" width="150"></v-img>
          <v-file-input
            :disabled="!editProfil"
            prepend-icon="mdi-camera"
            label="Photo de profil"
          ></v-file-input>
          <v-text-field
            :disabled="!editProfil"
            label="Nom d'usage"
            :value="user.username"
          ></v-text-field>
          <v-text-field
            :disabled="!editProfil"
            label="Email"
            :value="user.email"
          ></v-text-field>
          <v-text-field
            :disabled="!editProfil"
            label="Prénom (facultatif)"
            :value="user.first_name"
          ></v-text-field>
          <v-text-field
            :disabled="!editProfil"
            label="Nom (facultatif)"
            :value="user.last_name"
          ></v-text-field>
          <v-text-field
            :disabled="!editProfil"
            label="Code postal"
            :value="user.address_zip"
          ></v-text-field>
          <v-text-field
            :disabled="!editProfil"
            label="Ville"
            :value="user.address_city"
          ></v-text-field>
          <v-btn
            :disabled="!editProfil"
            color="teal white--text"
            @click="editProfilValidation"
            >Enregistrer</v-btn
          >
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'ProfilAccount',
  props: {
    editProfil: {
      default: false,
      type: Boolean,
    },
  },
  computed: {
    user() {
      return this.$store.state.user
    },
  },
  methods: {
    editProfilValidation() {
      window.alert(
        'La fonctionnalité de mise à jour du profil est en cours de développement'
      )
    },
  },
}
</script>

<style src="./ProfilAccount.css"></style>
