@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/ProzaLibre-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/ProzaLibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProzaLibre';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/ProzaLibre-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ProzaLibre';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/ProzaLibre-Bold.ttf') format('truetype');
}