<template>
  <div>
    <h1 class="text-center">Tableau de bord</h1>
    <div v-if="user !== ''">
      <h2 class="mr-4 d-inline teal--text">Mes données</h2>
      <v-icon color="grey" @click="addOrganization">mdi-plus-box</v-icon>
      <v-icon color="indigo" @click="tableMode">mdi-table</v-icon>
      <v-icon color="indigo" @click="cardsMode">mdi-cards</v-icon>
      <hr />
      <ProfilAnnuaire :display-mode="displayMode"></ProfilAnnuaire>
      <div class="mt-10">
        <h2 class="mr-4 d-inline teal--text">Mes paramètres</h2>
        <v-icon color="indigo" dense @click="editProfilBtn">mdi-pencil</v-icon>
        <span class="ml-2 font-weight-light"
          >Membre depuis le {{ date(user.date_joined) }}</span
        >
        <hr />
        <ProfilAccount :user="user" :edit-profil="editProfil" />
      </div>
    </div>
    <div v-else-if="user === ''">
      <p>Veuillez vous connecter pour accéder à votre tableau de bord</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profil',
  data() {
    return {
      displayMode: 'table',
      editProfil: false,
    }
  },
  computed: {
    user() {
      return this.$store.state.user
    },
  },
  methods: {
    date(date) {
      return new Date(date).toLocaleDateString('fr-FR', {
        year: 'numeric',
        month: 'long',
        day: '2-digit',
      })
    },
    tableMode() {
      this.displayMode = 'table'
    },
    cardsMode() {
      this.displayMode = 'cards'
    },
    addOrganization() {
      // eslint-disable-next-line no-console
      console.log('ECRIRE LA REQUETE')
      window.alert('Fonctionnalité en cours de développement')
    },
    editProfilBtn() {
      this.editProfil = !this.editProfil
    },
  },
}
</script>

<style></style>
